* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    font-size: 1rem;
    /* font-size: 16px; */
}

@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.button {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.button i {
    margin-right: 10px;
    margin-left: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 15px;
    margin-top: 60px;
}

.product {
    border: 1px solid black;
    padding: 40px 0px;
    margin: 20px 0px;
    text-align: center;
    background: #ffffff;
}

.product img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
}

